In [3]:
import scrapy
import requests
from scrapy.http import TextResponse  # xpath 연습
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [92]:
url = "http://www.statiz.co.kr/salary.php?opt=0&sopt={}".format("2014")
req = requests.get(url)
req

In [27]:
response = TextResponse(req.url, body=req.text, encoding='utf-8')
response

In [128]:
i = 2
name = response.xpath(
    '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr[{}]/td/a/text()'.format(i)).extract()
name

['이대호']

In [72]:
year = response.xpath(
    '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr/td[2]/text()').extract()

In [126]:
team = response.xpath(
    '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr[2]/td[3]/text()').extract()
team

['롯데']

In [74]:
salary = response.xpath(
    '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr/td[4]/text()').extract()

In [75]:
WAR = response.xpath(
    '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr/td[5]/text()').extract()

In [86]:
for i in range(len(name) + 1):
    print(name[i])

김태균
강민호
이병규
이승엽
장원삼
이용규
최정
정근우
이택근
앨버스
김동주
이진영
배영수
정대현
정성훈
이종욱
김주찬
임창용
박병호
최형우
박한이
봉중근
이호준
윤성환
김현수
이범호
손승락
강정호
안지만
조인성
티포드
손아섭
홍성흔
손시헌
정현욱
최준석
니퍼트
윤석민
박석민
송승준
유먼
밴헤켄
나이트
이승호
이대수
정재훈
박용택
장원준
리즈
송신영
레이예스
이대형
강영식
해커
김강민
송은범
찰리
노경은
로티노
김광현
권혁
히메네스
스캇
울프
옥스프링
벨
테임즈
웨버
나바로
어센시오
조쉬벨
볼스테드
클레이
필
밴덴헐크
마틴
리오단
진갑용
피에
홀튼
칸투
김원섭
김상수
차우찬
박정권
조동찬
채태인
나주환
신경현
서재응
박정진
타투스코
김병현
나지완
한상훈
박진만
조성환
양의지
임경완
김성배

IndexError: list index out of range

In [137]:
datas = []
for x in range(2010, 2019):
    url = "http://www.statiz.co.kr/salary.php?opt=0&sopt={}".format(x)
    req = requests.get(url)
    response = TextResponse(req.url, body=req.text, encoding='utf-8')

    for i in range(2, 102):

        try:
            text_1 = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr[{}]/td[3]/text()'.format(i)).extract()[0]
        except:
            text_1 = 0
        try:
            text_2 = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr[{}]/td[4]/text()'.format(i)).extract()[0]
        except:
            text_2 = 0
        try:
            text_3 = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr[{}]/td[5]/text()'.format(i)).extract()[0]
        except:
            text_3 = 0

        datas.append({'이름': response.xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr[{}]/td/a/text()'.format(i)).extract()[0],
                      '시즌': response.xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[2]/div/div/div[2]/table/tr[{}]/td[2]/text()'.format(i)).extract()[0],
                      '팀': text_1,
                      '연봉': text_2,
                      'WAR': text_3})

In [138]:
salary = pd.DataFrame(datas)
salary

      이름    시즌    팀      연봉    WAR
0    김동주  2010   두산  70,000  3.207
1    박진만  2010   삼성  60,000  0.604
2    손민한  2010   롯데  60,000      0
3    이진영  2010   LG  54,000  2.570
4    이호준  2010   SK  50,000  0.539
..   ...   ...  ...     ...    ...
895  오지환  2018   LG  29,000  3.096
896  박해민  2018   삼성  29,000  3.502
897  김선빈  2018  KIA  28,000  1.527
898  전준우  2018   롯데  27,000  4.799
899  허경민  2018   두산  26,500  4.054

[900 rows x 5 columns]

In [140]:
salary.to_csv('salary.csv', index=False)