In [1]:
import scrapy
import requests
from scrapy.http import TextResponse  # xpath 연습
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('./datas/pulled_salary_data.csv')

In [3]:
names = list(df[df.시즌 == 2018]['이름'].unique())

### 2019년 연봉 크롤링

In [16]:
data1 = []
for name in names:
    url = "http://www.statiz.co.kr/player.php?opt=11&name={}".format(name)
    req = requests.get(url)
    response = TextResponse(req.url, body=req.text, encoding='utf-8')

    a = response.xpath(
        '/html/body/div/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr/td[1]/text()').extract()

    i = len(a) + 1

    season = response.xpath(
        '/html/body/div/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr[{}]/td[1]/text()'.format(i)).extract()[0]

    salary = response.xpath(
        '/html/body/div/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tr[{}]/td[2]/text()'.format(i)).extract()[0]

    data1.append({'이름': name, '시즌': season, '연봉': salary})
    print(season)

2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2018
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019
2018
2019
2019
2019
2019
2019
2019
2019
2019
2019
2019

In [19]:
data1 = pd.DataFrame(data1)

In [20]:
data1.to_csv('./datas/sal_2019', index=False)

In [27]:
df = pd.read_csv('Data/name.csv')
sal = pd.read_csv('Data/salary_stat+kbo.csv')

### 계약 크롤링

In [32]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width: 70% !important; }</style>"))
pd.set_option("display.max_columns", 55)

In [37]:
data1 = []
for name in df['이름'].unique():
    for i in range(1, 7):
        url = "http://www.statiz.co.kr/player.php?&name={}".format(name)
        req = requests.get(url)
        response = TextResponse(req.url, body=req.text, encoding='utf-8')
        if response.xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[5]/div/div[2]/table/tr[{}]/td[1]/text()'.format(i)).extract():
            b = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[5]/div/div[2]/table/tr[{}]/td[1]/text()'.format(i)).extract()[0]
            a = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[5]/div/div[2]/table/tr[{}]/td[2]/text()'.format(i)).extract()[0]
            c = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[5]/div/div[2]/table/tr[{}]/td[3]/text()'.format(i)).extract()[0]
        else:
            a = 0
            b = 0
            c = 0
        data1.append({'이름': name, '시즌': b, '계약': a, '참고': c})

    print(name)

가르시아
강귀태
강동우
강명구
강민호
강병식
강병우
강봉규
강정호
고영민
권도영
권용관
김강
김강민
김강석
김경언
김광현
김다원
김동길
김동영
김동주
김민성
김민우
김상수
김상현
김상훈
김선빈
김연훈
김원섭
김일경
김재우
김재현
김재호
김주찬
김준호
김지수
김태군
김태완
김현수
김형철
김회성
나주환
나지완
모창민
문규현
문선재
민병헌
박경수
박경완
박기남
박기혁
박노민
박동원
박병호
박상현
박석민
박용근
박용택
박재상
박재홍
박정권
박정준
박정환
박종윤
박준서
박진만
박한이
배영섭
백창수
변용선
서동욱
서성종
손시헌
손아섭
손인호
손주인
손지환
송광민
송지만
신경현
신명철
신종길
안경현
안치용
안치홍
양의지
양종민
양준혁
오선진
오윤
오재원
오재일
오정복
오지환
오현근
용덕한
유선정
유재웅
유한준
윤요섭
윤진호
윤효섭
이대수
이대형
이대호
이도형
이두환
이명기
이병규
이상훈
이성열
이성우
이성호
이숭용
이시찬
이양기
이여상
이영수
이영우
이영욱
이용규
이우민
이원석
이인구
이재원
이정식
이종범
이종욱
이종환
이진영
이창섭
이택근
이현곤
이호준
이희근
임익준
임재철
임한용
임훈
장민석
장성우
장성호
장영석
장종덕
장태성
전근표
전준우
전현태
정근우
정보명
정상호
정성훈
정수빈
정수성
정원석
정주현
정현석
정형식
정훈
정희상
조동찬
조동화
조성환
조영훈
조인성
조재호
조중근
진갑용
차일목
채상병
채종범
채태인
최경철
최동수
최승환
최용규
최윤석
최정
최준석
최진행
최형우
최훈락
최희섭
추승우
클락
하지호
한윤섭
허승민
허준
현재윤
홍성흔
홍세완
홍재호
황동채
황선일
황재균
가코
강경학
고동진
고종욱
김도현
김문호
김민하
김성현
김용섭
김용호
김재율
김재환
김정혁
김정훈
김종호
김주형
김태훈
김헌곤
나성용
류재원
모상기
박윤
박진원
박진환
박헌도
백승룡
손용석
신현철
심광호
안동현
안정광
알드리지
양영동
오재필
오준혁
오태곤
유강남
윤석민
윤정우
윤중환
이범호
이승주
이준호
이해창
정범수
정병곤
정상교
정의윤
정진기
정진호
조평호
지석훈
한상훈
허도환
허웅
허일
홍명찬
국해성
권영준
권영진
김경모
김남형
김대우
김동명
김동한
김사훈
김상호
김영훈
김용의
김지성
김태균
류지혁
문우람
박세혁
박승욱
서건창
서상우
성의준
손형준
송산
신본기
양성우
연경흠
오장훈
우동균
유재신
윤여운
윤해진
이민재
이승엽
이준수
이지영
이천웅
이호신
정범모
조윤준
지재옥
차화준
최영진
최재훈
최정민
최주환
하주석
한동민
한성구
허경민
황정립
황진수
강구성
강진성
고도현
고영우
권희동
김광연
김동건
김성욱
김재민
김정후
김종찬
김준완
김준태
김태우
나성범
노진혁
마낙길
박건우
박민우
박상규
박상혁
박으뜸
박인성
박찬도
박헌욱
백동훈
백상원
백용환
서용주
송주호
안태영
엄태용
유재혁
이동훈
이명환
이상호
이태원
이홍구
임경훈
임도현
임세업
임종혁
장운호
정규창
정현
조성우
조정원
조홍석
최승준
최재원
한승택
강민국
강지광
강한울
김민수
김응민
김주현
김진형
김하성
김희석
나바로
노수광
로티노
문선엽
박계현
박준태
박준혁
박찬호
박해민
송승준
스나이더
스캇
이성곤
이승재
이창열
이창진
이흥련
임창용
임태준
장원준
조쉬벨
채은성
칸투
테임즈
피에
필
하준호
홍성갑
황목치승
히메네스
강로한
강병의
구자욱
김기현
김대륙
김민식
김민준
김민혁
김사연
김선민
김영환
김재성
김재유
김종민
김진곤
김태진
김호령
댄블랙
로메로
루츠
마르테
모건
문경찬
문상철
박계범
박광열
박성준
박세웅
박지규
박철우
배정대
브라운
송민섭
송성문
스틴슨
신성현
심우준
아두치
안익훈
안중열
양석환
양원혁
오윤석
유민상
유서준
윤도경
윤병호
윤영수
이은총
이인행
이지찬
이진석
이현석
임병욱
장시윤
장준원
주현상
지성준
채기영
최민구
최병연
최선호
폭스
한나한
허정협
황대인
황수현
황윤호
강동관
강승호
고메즈
권정웅
김동엽
김만수
김웅빈
김원석
김인태
김택형
나경민
남태혁
대니돈
도태훈
로사리오
맥스웰
박재욱
박정음
발디리스
서예일
에반스
이성규
이우성
이재율
이태양
이형종
임석진
전민수
정주후
정진철
조성모
조수행
주효상
최용제
최원준
최정용
홍창기
황선도
강상원
김규민
김성윤
김성훈
김주성
김찬형
김태연
김혜성
나원탁
나종덕
노관현
러프
로니
로맥
로하스
모넬
박상언
박성한
박유연
백승현
버나디나
번즈
스크럭스
신진호
안주형
안치영
워스
유영준
이원재
이재근
이정후
이정훈
이현동
전유수
정경운
조용호
채상현
초이스
최민창
최원제
최항
홍현빈
황경태
강백호
고명성
김기연
김석환
김인환
김종덕
김창혁
김철호
김형준
김호재
류승현
문성주
반슬라이크
백승민
샌즈
송준석
신범수
안상현
예진원
오영수
윤대영
이도윤
이병휘
이윤재
이인혁
장승현
장진혁
전민재
전병우
정은원
조원빈
파레디스
한동희
호잉
고승민
공민규
구본혁
김경호
김대한
김대현
김도환
김병희
김성민
김수산
김승회
김창평
김태근
노시환
류형우
민태호
박민석
박승규
박한결
배병옥
배성근
베탄코트
변우혁
송승환
스몰린스키
신민재
신용수
아수아헤
안승한
양우현
오선우
오승택
오정환
윌리엄슨
윌슨
유장혁
이석훈
이승진
이유찬
이학주
임동휘
임재현
전준호
정보근
정성종
정준혁
조셉
채현우
최경모
최민재
최승민
최준우
추재현
터커
페게로
페르난데스
한준수
해즐베이커

In [38]:
data1

[{'이름': '가르시아', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '가르시아', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '가르시아', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '가르시아', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '가르시아', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '가르시아', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강귀태', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '강귀태', '시즌': '1998년', '계약': '신인지명', '참고': ' 고졸우선지명(현대)'},
 {'이름': '강귀태', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강귀태', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강귀태', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강귀태', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강동우', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '강동우', '시즌': '1998년', '계약': '신인지명', '참고': ' 1차지명(삼성)'},
 {'이름': '강동우', '시즌': '2006년', '계약': '트레이드', '참고': ' 2006-03-29, 삼성 -> 두산'},
 {'이름': '강동우', '시즌': '2008년', '계약': '트레이드', '참고': ' 2007-11-07, 두산 -> KIA'},
 {'이름': '강동우', '시즌': '2009년', '계약': '트레이드', '참고': ' 2008-10-20, KIA -> 한화'},
 {'이름': '강동우',
  '시즌': '2010년',
  '계약': 'FA계약',
  '참고': ' 2009-11-12, 한화 -> 한화 , 1년 (30,000만원) … 계약금 1억 5천만원 포함'},
 {'이름': '강명구', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '강명구', '시즌': '2003년', '계약': '신인지명', '참고': ' 2차지명 7번(삼성)'},
 {'이름': '강명구', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강명구', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강명구', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강명구', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강민호', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '강민호', '시즌': '2004년', '계약': '신인지명', '참고': ' 2차지명 17번(롯데)'},
 {'이름': '강민호',
  '시즌': '2014년',
  '계약': 'FA계약',
  '참고': ' 2013-11-14, 롯데 -> 롯데 , 4년 (750,000만원) / 보상금 0만원'},
 {'이름': '강민호',
  '시즌': '2018년',
  '계약': 'FA계약',
  '참고': ' 2017-11-21, 롯데 -> 삼성 , 4년 (800,000만원) … 금액 미확인 / 보상선수\r\n        '},
 {'이름': '강민호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강민호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강병식', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '강병식', '시즌': '1996년', '계약': '신인지명', '참고': ' 2차지명 59번(태평양)'},
 {'이름': '강병식', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강병식', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강병식', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강병식', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강병우', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '강병우', '시즌': '2005년', '계약': '신인지명', '참고': ' 2차지명 42번(LG)'},
 {'이름': '강병우', '시즌': '2010년', '계약': '트레이드', '참고': ' 2009-12-30, LG -> 히어로즈'},
 {'이름': '강병우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강병우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강병우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강봉규', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '강봉규', '시즌': '1996년', '계약': '신인지명', '참고': ' 2차지명 57번(OB)'},
 {'이름': '강봉규', '시즌': '2006년', '계약': '트레이드', '참고': ' 2006-03-29, 두산 -> 삼성'},
 {'이름': '강봉규',
  '시즌': '2012년',
  '계약': 'FA계약',
  '참고': ' 2011-11-17, 삼성 -> 삼성 , 2년 (45,000만원) / 보상금 0만원'},
 {'이름': '강봉규', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강봉규', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강정호', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '강정호', '시즌': '2006년', '계약': '신인지명', '참고': ' 2차지명 8번(현대)'},
 {'이름': '강정호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강정호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강정호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '강정호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '고영민', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '고영민', '시즌': '2002년', '계약': '신인지명', '참고': ' 2차지명 9번(두산)'},
 {'이름': '고영민',
  '시즌': '2016년',
  '계약': 'FA계약',
  '참고': ' 2016-01-13, 두산 -> 두산 , 2년 (50,000만원) … 2억 옵션 포함 / 보상금 0만원'},
 {'이름': '고영민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '고영민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '고영민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '권도영', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '권도영', '시즌': '1999년', '계약': '신인지명', '참고': ' 2차지명 72번(현대)'},
 {'이름': '권도영', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '권도영', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '권도영', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '권도영', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '권용관', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '권용관', '시즌': '1995년', '계약': '신인지명', '참고': ' 고졸우선지명(LG)'},
 {'이름': '권용관', '시즌': '2010년', '계약': '트레이드', '참고': ' 2010-07-28, LG -> SK'},
 {'이름': '권용관',
  '시즌': '2014년',
  '계약': 'FA계약',
  '참고': ' 2013-11-16, LG -> LG , 1년 (10,000만원) / 보상금 0만원'},
 {'이름': '권용관', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '권용관', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김강', '시즌': '2007년', '계약': '신인지명', '참고': ' 2차지명 21번(한화)'},
 {'이름': '김강', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강민', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김강민', '시즌': '2001년', '계약': '신인지명', '참고': ' 2차지명 18번(SK)'},
 {'이름': '김강민',
  '시즌': '2015년',
  '계약': 'FA계약',
  '참고': ' 2014-11-26, SK -> SK , 4년 (560,000만원) … 4억 옵션 포함 / 보상금 0만원'},
 {'이름': '김강민',
  '시즌': '2020년',
  '계약': 'FA계약',
  '참고': ' 2020-01-13, SK -> SK , 2년 (100,000만원) … 연 1억 / 보상금 0만원'},
 {'이름': '김강민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강석', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김강석', '시즌': '2009년', '계약': '신인지명', '참고': ' 2차지명 43번(한화)'},
 {'이름': '김강석', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강석', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강석', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김강석', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김경언', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김경언', '시즌': '2001년', '계약': '신인지명', '참고': ' 2차지명 15번(해태)'},
 {'이름': '김경언', '시즌': '2010년', '계약': '트레이드', '참고': ' 2010-06-08, KIA -> 한화'},
 {'이름': '김경언',
  '시즌': '2015년',
  '계약': 'FA계약',
  '참고': ' 2014-11-26, 한화 -> 한화 , 3년 (85,000만원) / 보상금 0만원'},
 {'이름': '김경언', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김경언', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김광현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김광현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김광현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김광현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김광현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김광현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김다원', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김다원', '시즌': '2010년', '계약': '트레이드', '참고': ' 2010-06-08, 한화 -> KIA'},
 {'이름': '김다원', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김다원', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김다원', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김다원', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동길', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김동길', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동길', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동길', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동길', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동길', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동영', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김동영', '시즌': '2005년', '계약': '신인지명', '참고': ' 2차지명 28번(한화)'},
 {'이름': '김동영', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동영', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동영', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동영', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동주', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김동주', '시즌': '1998년', '계약': '신인지명', '참고': ' 1차지명(OB)'},
 {'이름': '김동주',
  '시즌': '2008년',
  '계약': 'FA계약',
  '참고': ' 2008-01-15, 두산 -> 두산 , 1년 (90,000만원) … 옵션 +2억 포함'},
 {'이름': '김동주',
  '시즌': '2012년',
  '계약': 'FA계약',
  '참고': ' 2012-01-02, 두산 -> 두산 , 3년 (320,000만원) … 연간 3억 인센티브 포함 / 보상금 0만원'},
 {'이름': '김동주', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김동주', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김민성', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김민성', '시즌': '2007년', '계약': '신인지명', '참고': ' 2차지명 13번(롯데)'},
 {'이름': '김민성', '시즌': '2010년', '계약': '트레이드', '참고': ' 2010-07-22, 롯데 -> 넥센'},
 {'이름': '김민성', '시즌': '2019년', '계약': '트레이드', '참고': ' 2019-03-05, 키움 -> LG'},
 {'이름': '김민성',
  '시즌': '2019년',
  '계약': 'FA계약',
  '참고': ' 2019-03-05, 키움 -> 키움 , 3년 (150,000만원) … 연 1억 / 보상금 0만원'},
 {'이름': '김민성', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김민우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김민우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김민우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김민우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김민우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김민우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상훈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상훈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상훈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상훈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상훈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김상훈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김선빈', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김선빈', '시즌': '2008년', '계약': '신인지명', '참고': ' 2차지명 43번(KIA)'},
 {'이름': '김선빈',
  '시즌': '2020년',
  '계약': 'FA계약',
  '참고': ' 2020-01-14, KIA -> KIA , 4년 (400,000만원) … 연 1억 5천 / 보상금 0만원'},
 {'이름': '김선빈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김선빈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김선빈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김연훈', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김연훈', '시즌': '2007년', '계약': '신인지명', '참고': ' 2차지명 16번(KIA)'},
 {'이름': '김연훈', '시즌': '2008년', '계약': '트레이드', '참고': ' 2008-05-04, KIA -> SK'},
 {'이름': '김연훈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김연훈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김연훈', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김원섭', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김원섭', '시즌': '1997년', '계약': '신인지명', '참고': ' 2차지명 42번(OB)'},
 {'이름': '김원섭', '시즌': '2003년', '계약': '트레이드', '참고': ' 2003-05-06, 두산 -> KIA'},
 {'이름': '김원섭',
  '시즌': '2013년',
  '계약': 'FA계약',
  '참고': ' 2012-11-15, KIA -> KIA , 3년 (140,000만원) / 보상금 0만원'},
 {'이름': '김원섭', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김원섭', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김일경', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김일경', '시즌': '1997년', '계약': '신인지명', '참고': ' 2차지명 16번(현대)'},
 {'이름': '김일경', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김일경', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김일경', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김일경', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재우', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김재우', '시즌': '2010년', '계약': '신인지명', '참고': ' 2차지명 13번(한화)'},
 {'이름': '김재우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재우', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재호', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김재호', '시즌': '2004년', '계약': '신인지명', '참고': ' 1차지명(두산)'},
 {'이름': '김재호',
  '시즌': '2017년',
  '계약': 'FA계약',
  '참고': ' 2016-11-15, 두산 -> 두산 , 4년 (500,000만원) … 4억 옵션 포함 / 보상금 0만원'},
 {'이름': '김재호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김재호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김주찬', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김주찬', '시즌': '2000년', '계약': '신인지명', '참고': ' 2차지명 5번(삼성)'},
 {'이름': '김주찬', '시즌': '2001년', '계약': '트레이드', '참고': ' 2001-01-31, 삼성 -> 롯데'},
 {'이름': '김주찬',
  '시즌': '2013년',
  '계약': 'FA계약',
  '참고': ' 2012-11-18, 롯데 -> KIA , 4년 (500,000만원) / 보상선수\r\n        '},
 {'이름': '김주찬',
  '시즌': '2018년',
  '계약': 'FA계약',
  '참고': ' 2018-01-16, KIA -> KIA , 3년 (270,000만원) / 보상금 0만원'},
 {'이름': '김주찬', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김준호', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김준호', '시즌': '2003년', '계약': '신인지명', '참고': ' 2차지명 67번(LG)'},
 {'이름': '김준호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김준호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김준호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김준호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김지수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김지수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김지수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김지수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김지수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김지수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김태군', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김태군', '시즌': '2008년', '계약': '신인지명', '참고': ' 2차지명 17번(LG)'},
 {'이름': '김태군', '시즌': '2013년', '계약': '트레이드', '참고': ' 2012-11-15, LG -> NC'},
 {'이름': '김태군',
  '시즌': '2020년',
  '계약': 'FA계약',
  '참고': ' 2020-01-18, NC -> NC , 4년 (130,000만원) … 연 1억 / 보상금 0만원'},
 {'이름': '김태군', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김태군', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김태완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김태완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김태완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김태완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김태완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김태완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김현수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김현수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김현수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김현수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김현수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김현수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김형철', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김형철', '시즌': '1999년', '계약': '신인지명', '참고': ' 2차지명 27번(쌍방울)'},
 {'이름': '김형철', '시즌': '2008년', '계약': '트레이드', '참고': ' 2008-05-04, SK -> KIA'},
 {'이름': '김형철', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김형철', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김형철', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김회성', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '김회성', '시즌': '2009년', '계약': '신인지명', '참고': ' 1차지명(한화)'},
 {'이름': '김회성', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김회성', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김회성', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '김회성', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '나주환', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '나주환', '시즌': '2003년', '계약': '신인지명', '참고': ' 2차지명 16번(두산)'},
 {'이름': '나주환', '시즌': '2007년', '계약': '트레이드', '참고': ' 2007-04-03, 두산 -> SK'},
 {'이름': '나주환',
  '시즌': '2015년',
  '계약': 'FA계약',
  '참고': ' 2015-01-01, SK -> SK , 2년 (55,000만원) … 1억 옵션 포함 / 보상금 0만원'},
 {'이름': '나주환', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '나주환', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '나지완', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '나지완', '시즌': '2008년', '계약': '신인지명', '참고': ' 2차지명 5번(KIA)'},
 {'이름': '나지완',
  '시즌': '2017년',
  '계약': 'FA계약',
  '참고': ' 2016-11-17, KIA -> KIA , 4년 (400,000만원) / 보상금 0만원'},
 {'이름': '나지완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '나지완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '나지완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '모창민', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '모창민', '시즌': '2008년', '계약': '신인지명', '참고': ' 2차지명 3번(SK)'},
 {'이름': '모창민', '시즌': '2013년', '계약': '트레이드', '참고': ' 2012-11-15, SK -> NC'},
 {'이름': '모창민',
  '시즌': '2019년',
  '계약': 'FA계약',
  '참고': ' 2018-11-28, NC -> NC , 3년 (170,000만원) … 3억 / 보상금 0만원'},
 {'이름': '모창민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '모창민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '문규현', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '문규현',
  '시즌': '2018년',
  '계약': 'FA계약',
  '참고': ' 2017-11-08, 롯데 -> 롯데 , 3년 (100,000만원) / 보상금 0만원'},
 {'이름': '문규현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '문규현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '문규현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '문규현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '문선재', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '문선재', '시즌': '2009년', '계약': '신인지명', '참고': ' 2차지명 52번(LG)'},
 {'이름': '문선재', '시즌': '2019년', '계약': '트레이드', '참고': ' 2019-01-17, LG -> KIA'},
 {'이름': '문선재', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '문선재', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '문선재', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '민병헌', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '민병헌', '시즌': '2006년', '계약': '신인지명', '참고': ' 2차지명 14번(두산)'},
 {'이름': '민병헌',
  '시즌': '2018년',
  '계약': 'FA계약',
  '참고': ' 2017-11-28, 두산 -> 롯데 , 4년 (800,000만원) / 보상선수\r\n        '},
 {'이름': '민병헌', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '민병헌', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '민병헌', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박경수', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박경수', '시즌': '2003년', '계약': '신인지명', '참고': ' 1차지명(LG)'},
 {'이름': '박경수',
  '시즌': '2015년',
  '계약': 'FA계약',
  '참고': ' 2014-11-28, LG -> kt , 4년 (182,000만원) … 2억 옵션 포함 / 보상금 0만원'},
 {'이름': '박경수',
  '시즌': '2019년',
  '계약': 'FA계약',
  '참고': ' 2019-01-21, KT -> KT , 3년 (200,000만원) … 6억 / 보상금 0만원'},
 {'이름': '박경수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박경수', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박경완', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박경완', '시즌': '1991년', '계약': '신인지명', '참고': ' 고졸우선지명(쌍방울)'},
 {'이름': '박경완', '시즌': '1998년', '계약': '트레이드', '참고': ' 1997-11-11, 쌍방울 -> 현대'},
 {'이름': '박경완',
  '시즌': '2003년',
  '계약': 'FA계약',
  '참고': ' 2002-12-28, 현대 -> SK , 3년 (190,000만원) / 보상선수\r\n        '},
 {'이름': '박경완',
  '시즌': '2007년',
  '계약': 'FA계약',
  '참고': ' 2006-11-17, SK -> SK , 2년 (100,000만원) … 옵션 1억 포함'},
 {'이름': '박경완', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박기남', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박기남', '시즌': '2000년', '계약': '신인지명', '참고': ' 2차지명 43번(LG)'},
 {'이름': '박기남', '시즌': '2009년', '계약': '트레이드', '참고': ' 2009-04-19, LG -> KIA'},
 {'이름': '박기남', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박기남', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박기남', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박기혁', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박기혁', '시즌': '2000년', '계약': '신인지명', '참고': ' 2차지명 15번(롯데)'},
 {'이름': '박기혁',
  '시즌': '2015년',
  '계약': 'FA계약',
  '참고': ' 2014-11-28, 롯데 -> kt , 4년 (114,000만원) … 0.9억 옵션 포함 / 보상금 0만원'},
 {'이름': '박기혁', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박기혁', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박기혁', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박노민', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박노민', '시즌': '2004년', '계약': '신인지명', '참고': ' 2차지명 18번(한화)'},
 {'이름': '박노민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박노민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박노민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박노민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박동원', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박동원', '시즌': '2009년', '계약': '신인지명', '참고': ' 2차지명 19번(히어로즈)'},
 {'이름': '박동원', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박동원', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박동원', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박동원', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박병호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박병호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박병호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박병호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박병호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박병호', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박상현', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박석민', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박석민', '시즌': '2004년', '계약': '신인지명', '참고': ' 1차지명(삼성)'},
 {'이름': '박석민',
  '시즌': '2016년',
  '계약': 'FA계약',
  '참고': ' 2015-11-30, 삼성 -> NC , 4년 (960,000만원) … 10억 옵션 포함 / 보상선수\r\n        '},
 {'이름': '박석민',
  '시즌': '2020년',
  '계약': 'FA계약',
  '참고': ' 2020-01-08, NC -> NC , 3년 (340,000만원) … 3년 차 18억 계약 조항 / 보상금 0만원'},
 {'이름': '박석민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박석민', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박용근', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박용근', '시즌': '2007년', '계약': '신인지명', '참고': ' 2차지명 3번(LG)'},
 {'이름': '박용근', '시즌': '2015년', '계약': '트레이드', '참고': ' 2015-04-20, LG -> kt'},
 {'이름': '박용근', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박용근', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박용근', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박용택', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박용택', '시즌': '1998년', '계약': '신인지명', '참고': ' 고졸우선지명(LG)'},
 {'이름': '박용택',
  '시즌': '2011년',
  '계약': 'FA계약',
  '참고': ' 2010-11-03, LG -> LG , 4년 (340,000만원) … 3년+1년, 계약금(5억+3억), 연봉 3억 5천, 연간 옵션 +3억'},
 {'이름': '박용택',
  '시즌': '2015년',
  '계약': 'FA계약',
  '참고': ' 2014-11-26, LG -> LG , 4년 (500,000만원) / 보상금 0만원'},
 {'이름': '박용택',
  '시즌': '2019년',
  '계약': 'FA계약',
  '참고': ' 2019-01-20, LG -> LG , 2년 (240,000만원) … 1억 / 보상금 0만원'},
 {'이름': '박용택', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박재상', '시즌': '연도', '계약': '종류', '참고': '참고'},
 {'이름': '박재상', '시즌': '2001년', '계약': '신인지명', '참고': ' 2차지명 67번(SK)'},
 {'이름': '박재상',
  '시즌': '2016년',
  '계약': 'FA계약',
  '참고': ' 2015-12-07, SK -> SK , 2년 (55,000만원) … 0.5억 옵션 포함 / 보상금 0만원'},
 {'이름': '박재상', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박재상', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박재상', '시즌': 0, '계약': 0, '참고': 0},
 {'이름': '박재홍', '시즌': '연도', '계약': '종류', '참고': '참고'},

In [43]:
cont = pd.DataFrame(data1)
cont = cont[cont['시즌'] != 0]
cont = cont[cont['시즌'] != '연도']

7                   고졸우선지명(현대)
13                    1차지명(삼성)
14        2006-03-29, 삼성 -> 두산
15       2007-11-07, 두산 -> KIA
16       2008-10-20, KIA -> 한화
                 ...
3751              2차지명 56번(SK)
3757              2차지명 30번(SK)
3769              2차지명 35번(SK)
3775              2차지명 28번(넥센)
3799                 1차지명(KIA)
Name: 참고, Length: 695, dtype: object

In [49]:
cont[cont['이름'] == '박용택']

      이름     시즌    계약                                                 참고
343  박용택  1998년  신인지명                                         고졸우선지명(LG)
344  박용택  2011년  FA계약   2010-11-03, LG -> LG , 4년 (340,000만원) … 3년+1년...
345  박용택  2015년  FA계약    2014-11-26, LG -> LG , 4년 (500,000만원) / 보상금 0만원
346  박용택  2019년  FA계약   2019-01-20, LG -> LG , 2년 (240,000만원) … 1억 / ...

In [57]:
cont["참고"].apply(lambda data: data.split(
    ",") if len(data.split(",")) > 2 else data)

7                   고졸우선지명(현대)
13                    1차지명(삼성)
14        2006-03-29, 삼성 -> 두산
15       2007-11-07, 두산 -> KIA
16       2008-10-20, KIA -> 한화
                 ...
3751              2차지명 56번(SK)
3757              2차지명 30번(SK)
3769              2차지명 35번(SK)
3775              2차지명 28번(넥센)
3799                 1차지명(KIA)
Name: 참고, Length: 695, dtype: object

In [65]:
cont['참고'] = cont["참고"].apply(lambda data: data.split(
    ",")[2][1:3] if len(data.split(",")) > 2 else 0)

       이름     시즌    계약 참고
7     강귀태  1998년  신인지명  0
13    강동우  1998년  신인지명  0
14    강동우  2006년  트레이드  0
15    강동우  2008년  트레이드  0
16    강동우  2009년  트레이드  0
...   ...    ...   ... ..
3751  최경모  2019년  신인지명  0
3757  최민재  2013년  신인지명  0
3769  최준우  2018년  신인지명  0
3775  추재현  2018년  신인지명  0
3799  한준수  2018년  신인지명  0

[695 rows x 4 columns]

In [69]:
cont = cont[cont['계약'] == 'FA계약']
cont.reset_index(drop=True)

      이름     시즌    계약  참고
0    강동우  2010년  FA계약  1년
1    강민호  2014년  FA계약  4년
2    강민호  2018년  FA계약  4년
3    강봉규  2012년  FA계약  2년
4    고영민  2016년  FA계약  2년
..   ...    ...   ...  ..
109  이지영  2020년  FA계약  3년
110  송승준  2016년  FA계약  4년
111  임창용  2005년  FA계약  2년
112  장원준  2015년  FA계약  4년
113  김승회  2018년  FA계약  2년

[114 rows x 4 columns]

### 이름, 시즌, 계약, 연도 CSV 저장

In [71]:
cont.to_csv('./Data/cont.csv', index=False)

In [48]:
list(cont[cont['이름'] == '박용택'])

['이름', '시즌', '계약', '참고']

### MVP 크롤링

In [6]:
data1 = []
for name in df['이름'].unique():
    for i in range(1, 20):
        url = "http://www.statiz.co.kr/player.php?&name={}".format(name)
        req = requests.get(url)
        response = TextResponse(req.url, body=req.text, encoding='utf-8')
        if response.xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[4]/div/div[2]/table/tr[2]/td[{}]/b/text()'.format(i)).extract():
            a = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[4]/div/div[2]/table/tr[2]/td[{}]/b/text()'.format(i)).extract()[0]

            b = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[4]/div/div[2]/table/tr[1]/td[{}]/text()'.format(i)).extract()[0]

        else:
            a = 0
            b = 0
        data1.append({'이름': name, '시즌': b, 'MVP': a})
    print(name)

가르시아
강귀태
강동우
강명구
강민호
강병식
강병우
강봉규
강정호
고영민
권도영
권용관
김강
김강민
김강석
김경언
김광현
김다원
김동길
김동영
김동주
김민성
김민우
김상수
김상현
김상훈
김선빈
김연훈
김원섭
김일경
김재우
김재현
김재호
김주찬
김준호
김지수
김태군
김태완
김현수
김형철
김회성
나주환
나지완
모창민
문규현
문선재
민병헌
박경수
박경완
박기남
박기혁
박노민
박동원
박병호
박상현
박석민
박용근
박용택
박재상
박재홍
박정권
박정준
박정환
박종윤
박준서
박진만
박한이
배영섭
백창수
변용선
서동욱
서성종
손시헌
손아섭
손인호
손주인
손지환
송광민
송지만
신경현
신명철
신종길
안경현
안치용
안치홍
양의지
양종민
양준혁
오선진
오윤
오재원
오재일
오정복
오지환
오현근
용덕한
유선정
유재웅
유한준
윤요섭
윤진호
윤효섭
이대수
이대형
이대호
이도형
이두환
이명기
이병규
이상훈
이성열
이성우
이성호
이숭용
이시찬
이양기
이여상
이영수
이영우
이영욱
이용규
이우민
이원석
이인구
이재원
이정식
이종범
이종욱
이종환
이진영
이창섭
이택근
이현곤
이호준
이희근
임익준
임재철
임한용
임훈
장민석
장성우
장성호
장영석
장종덕
장태성
전근표
전준우
전현태
정근우
정보명
정상호
정성훈
정수빈
정수성
정원석
정주현
정현석
정형식
정훈
정희상
조동찬
조동화
조성환
조영훈
조인성
조재호
조중근
진갑용
차일목
채상병
채종범
채태인
최경철
최동수
최승환
최용규
최윤석
최정
최준석
최진행
최형우
최훈락
최희섭
추승우
클락
하지호
한윤섭
허승민
허준
현재윤
홍성흔
홍세완
홍재호
황동채
황선일
황재균
가코
강경학
고동진
고종욱
김도현
김문호
김민하
김성현
김용섭
김용호
김재율
김재환
김정혁
김정훈
김종호
김주형
김태훈
김헌곤
나성용
류재원
모상기
박윤
박진원
박진환
박헌도
백승룡
손용석
신현철
심광호
안동현
안정광
알드리지
양영동
오재필
오준혁
오태곤
유강남
윤석민
윤정우
윤중환
이범호
이승주
이준호
이해창
정범수
정병곤
정상교
정의윤
정진기
정진호
조평호
지석훈
한상훈
허도환
허웅
허일
홍명찬
국해성
권영준
권영진
김경모
김남형
김대우
김동명
김동한
김사훈
김상호
김영훈
김용의
김지성
김태균
류지혁
문우람
박세혁
박승욱
서건창
서상우
성의준
손형준
송산
신본기
양성우
연경흠
오장훈
우동균
유재신
윤여운
윤해진
이민재
이승엽
이준수
이지영
이천웅
이호신
정범모
조윤준
지재옥
차화준
최영진
최재훈
최정민
최주환
하주석
한동민
한성구
허경민
황정립
황진수
강구성
강진성
고도현
고영우
권희동
김광연
김동건
김성욱
김재민
김정후
김종찬
김준완
김준태
김태우
나성범
노진혁
마낙길
박건우
박민우
박상규
박상혁
박으뜸
박인성
박찬도
박헌욱
백동훈
백상원
백용환
서용주
송주호
안태영
엄태용
유재혁
이동훈
이명환
이상호
이태원
이홍구
임경훈
임도현
임세업
임종혁
장운호
정규창
정현
조성우
조정원
조홍석
최승준
최재원
한승택
강민국
강지광
강한울
김민수
김응민
김주현
김진형
김하성
김희석
나바로
노수광
로티노
문선엽
박계현
박준태
박준혁
박찬호
박해민
송승준
스나이더
스캇
이성곤
이승재
이창열
이창진
이흥련
임창용
임태준
장원준
조쉬벨
채은성
칸투
테임즈
피에
필
하준호
홍성갑
황목치승
히메네스
강로한
강병의
구자욱
김기현
김대륙
김민식
김민준
김민혁
김사연
김선민
김영환
김재성
김재유
김종민
김진곤
김태진
김호령
댄블랙
로메로
루츠
마르테
모건
문경찬
문상철
박계범
박광열
박성준
박세웅
박지규
박철우
배정대
브라운
송민섭
송성문
스틴슨
신성현
심우준
아두치
안익훈
안중열
양석환
양원혁
오윤석
유민상
유서준
윤도경
윤병호
윤영수
이은총
이인행
이지찬
이진석
이현석
임병욱
장시윤
장준원
주현상
지성준
채기영
최민구
최병연
최선호
폭스
한나한
허정협
황대인
황수현
황윤호
강동관
강승호
고메즈
권정웅
김동엽
김만수
김웅빈
김원석
김인태
김택형
나경민
남태혁
대니돈
도태훈
로사리오
맥스웰
박재욱
박정음
발디리스
서예일
에반스
이성규
이우성
이재율
이태양
이형종
임석진
전민수
정주후
정진철
조성모
조수행
주효상
최용제
최원준
최정용
홍창기
황선도
강상원
김규민
김성윤
김성훈
김주성
김찬형
김태연
김혜성
나원탁
나종덕
노관현
러프
로니
로맥
로하스
모넬
박상언
박성한
박유연
백승현
버나디나
번즈
스크럭스
신진호
안주형
안치영
워스
유영준
이원재
이재근
이정후
이정훈
이현동
전유수
정경운
조용호
채상현
초이스
최민창
최원제
최항
홍현빈
황경태
강백호
고명성
김기연
김석환
김인환
김종덕
김창혁
김철호
김형준
김호재
류승현
문성주
반슬라이크
백승민
샌즈
송준석
신범수
안상현
예진원
오영수
윤대영
이도윤
이병휘
이윤재
이인혁
장승현
장진혁
전민재
전병우
정은원
조원빈
파레디스
한동희
호잉
고승민
공민규
구본혁
김경호
김대한
김대현
김도환
김병희
김성민
김수산
김승회
김창평
김태근
노시환
류형우
민태호
박민석
박승규
박한결
배병옥
배성근
베탄코트
변우혁
송승환
스몰린스키
신민재
신용수
아수아헤
안승한
양우현
오선우
오승택
오정환
윌리엄슨
윌슨
유장혁
이석훈
이승진
이유찬
이학주
임동휘
임재현
전준호
정보근
정성종
정준혁
조셉
채현우
최경모
최민재
최승민
최준우
추재현
터커
페게로
페르난데스
한준수
해즐베이커

In [7]:
mvp = pd.DataFrame(data1)
mvp.drop_duplicates()

          이름 시즌 MVP
0       가르시아  0   0
19       강귀태  0   0
38       강동우  0   0
57       강명구  0   0
76       강민호  0   0
...      ... ..  ..
11970     터커  0   0
11989    페게로  0   0
12008  페르난데스  0   0
12027    한준수  0   0
12046  해즐베이커  0   0

[641 rows x 3 columns]

In [25]:
mvp = pd.read_csv('./Data/mvp')
mvp = mvp[mvp['시즌'] != 0]

In [26]:
mvp.to_csv('./Data/mvp1', index=False)

### 시즌별 수상

In [4]:
data1 = []
for name in df['이름'].unique()[398:]:
    for i in range(1, 20):
        url = "http://www.statiz.co.kr/player.php?&name={}".format(name)
        req = requests.get(url)
        response = TextResponse(req.url, body=req.text, encoding='utf-8')
        if response.xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[4]/div/div[2]/table/tr[2]/td[{}]/text()'.format(i)):
            a = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[4]/div/div[2]/table/tr[2]/td[{}]/text()'.format(i)).extract()[0]
        else:
            a = 0
        if response.xpath('/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[4]/div/div[2]/table/tr[1]/td[{}]/text()'.format(i)):
            b = response.xpath(
                '/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div/div[4]/div/div[2]/table/tr[1]/td[{}]/text()'.format(i)).extract()[0]
        else:
            b = 0
        data1.append({'이름': name, '시즌': b, '수상': a})
    print(name)

In [6]:
df.to_csv('./Data/prize5.csv', index=False)

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width: 100% !important; }</style>"))
pd.set_option("display.max_columns", 55)

In [2]:
df = pd.read_csv('Data/datas0402.csv')

In [3]:
year = pd.read_csv('./year_start_cont.csv')
year.head()

    이름    데뷔      학력                                 계약
0  테임즈  2014  용병-용병대                             ['연도']
1  이대호  2001     경남고  ['연도', '2001년', '2012년', '2017년']
2  강정호  2006    광주일고                    ['연도', '2006년']
3  강정호  2006    광주일고                    ['연도', '2006년']
4  박석민  2004     대구고  ['연도', '2004년', '2016년', '2020년']

In [4]:
prize = pd.read_csv('./Data/Prize.csv')
prize.head()

   Unnamed: 0   이름    시즌  수상
0           0  테임즈        수상
1           1  테임즈  2014   0
2           2  테임즈  2015  GG
3           3  테임즈  2016  GG
4           4  테임즈     0   0

In [5]:
prize['시즌'] = prize['시즌'].apply(lambda x: 0 if len(x) < 4 else x)

In [6]:
prize['시즌'] = prize['시즌'].astype(int)

In [7]:
prize = pd.DataFrame(prize)

In [8]:
year = year[year['데뷔'] != 0]

In [9]:
df = pd.merge(df, year, on='이름', how='inner')

In [10]:
df1 = pd.merge(df, prize, on=['이름', '시즌'], how='outer')

In [11]:
df1 = df1.dropna(thresh=6, axis=0)

In [12]:
del df1['Unnamed: 0']

In [13]:
df = df.drop_duplicates()
df

,ID,이름,시즌,팀,포지션,나이,G,타석,타수,득점,안타,타1,타2,타3,홈런,루타,타점,도루,도실,볼넷,사구,고4,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,wRC,twoBLUCK,threeBLUCK,ISO,BBK,ISOD,연봉,횟수,경험,데뷔,학력,계약
0,0,테임즈,2014,NC,1B,29,125.0,514.0,443.0,95.0,152.0,79.0,30.0,6.0,37.0,305.0,121.0,11.0,2.0,58.0,7.0,5.0,99.0,6.0,0.0,6.0,0.343,0.422,0.688,1.111,0.464,168.3,0.097720,0.019544,0.345,0.079767,0.079,25000.0,1,0,2014,용병-용병대,['연도']
3,0,테임즈,2015,NC,1B,30,142.0,595.0,472.0,130.0,180.0,86.0,42.0,5.0,47.0,373.0,140.0,40.0,8.0,103.0,13.0,11.0,91.0,7.0,0.0,7.0,0.381,0.498,0.790,1.288,0.530,222.3,0.125749,0.014970,0.409,-0.020168,0.117,125000.0,2,1,2014,용병-용병대,['연도']
6,0,테임즈,2016,NC,1B,31,123.0,529.0,436.0,118.0,140.0,67.0,30.0,3.0,40.0,296.0,121.0,13.0,4.0,74.0,12.0,6.0,103.0,2.0,0.0,7.0,0.321,0.427,0.679,1.106,0.463,170.5,0.102389,0.010239,0.358,0.054820,0.106,125000.0,3,2,2014,용병-용병대,['연도']
9,1,이대호,2010,롯데,3B,29,127.0,552.0,478.0,99.0,174.0,117.0,13.0,0.0,44.0,319.0,133.0,0.0,2.0,61.0,10.0,6.0,77.0,15.0,0.0,3.0,0.364,0.444,0.667,1.111,0.482,192.4,0.036415,0.000000,0.303,0.028986,0.080,39000.0,1,0,2001,경남고,"['연도', '2001년', '2012년', '2017년']"
14,1,이대호,2011,롯데,1B,30,133.0,570.0,493.0,76.0,176.0,122.0,26.0,1.0,27.0,285.0,113.0,2.0,0.0,63.0,8.0,8.0,60.0,22.0,0.0,6.0,0.357,0.433,0.578,1.011,0.455,180.0,0.064039,0.002463,0.221,-0.005263,0.076,63000.0,2,1,2001,경남고,"['연도', '2001년', '2012년', '2017년']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3004,234,조동화,2015,SK,CF,35,119.0,304.0,245.0,38.0,64.0,55.0,6.0,1.0,2.0,78.0,15.0,18.0,3.0,30.0,5.0,0.0,50.0,2.0,22.0,2.0,0.261,0.351,0.318,0.669,0.297,68.3,0.031088,0.005181,0.057,0.065789,0.090,30000.0,2,4,2001,공주고,"['연도', '2015년']"
3011,234,조동화,2016,SK,RF,36,76.0,172.0,143.0,24.0,34.0,29.0,5.0,0.0,0.0,39.0,16.0,6.0,2.0,15.0,4.0,0.0,17.0,2.0,8.0,2.0,0.238,0.323,0.273,0.596,0.279,48.9,0.039683,0.000000,0.035,0.011628,0.085,30000.0,3,5,2001,공주고,"['연도', '2015년']"
3018,258,강귀태,2011,넥센,C,33,33.0,89.0,81.0,4.0,19.0,13.0,4.0,1.0,1.0,28.0,10.0,1.0,0.0,5.0,0.0,1.0,11.0,4.0,2.0,1.0,0.235,0.276,0.346,0.622,0.277,60.3,0.057971,0.014493,0.111,0.067416,0.041,10000.0,1,0,2002,인천동산고-동국대,"['연도', '1998년']"
3021,306,이영우,2010,한화,DH,38,12.0,21.0,21.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.095,0.095,0.095,0.191,0.090,-66.7,0.000000,0.000000,0.000,0.095238,0.000,13000.0,1,0,1996,선린인고-건국대,"['연도', '1996년', '2009년']"
3022,379,박기혁,2010,롯데,SS,30,48.0,166.0,153.0,10.0,33.0,30.0,3.0,0.0,0.0,36.0,13.0,2.0,0.0,6.0,1.0,0.0,18.0,5.0,5.0,1.0,0.216,0.248,0.235,0.484,0.225,22.8,0.022222,0.000000,0.019,0.072289,0.032,12000.0,1,0,2000,대구상원고,"['연도', '2000년', '2015년']"

In [2]:
df4[df4['이름'] == '이대호']

NameError: name 'df4' is not defined

In [14]:
mvp = pd.read_csv('./Data/mvp1.csv')
mvp.head()

    이름    시즌    MVP
0  박경완  2000  시즌MVP
1  이대호  2010  시즌MVP
2  이종범  1994  시즌MVP
3  김재환  2018  시즌MVP
4  서건창  2014  시즌MVP

In [15]:
df2 = pd.merge(df1, mvp, on=['이름', '시즌'], how='outer')

In [16]:
df2 = df2.dropna(thresh=6, axis=0)

In [17]:
df2 = df2.drop_duplicates()

In [18]:
df2['MVP'] = df2['MVP'].fillna(0)

In [19]:
df2['MVP'][df2['MVP'] != 0] = 1

In [20]:
df2.MVP.unique()

array([0, 1], dtype=object)

In [21]:
df2.수상.unique()

array(['0', 'GG', 'POMVP', 'ALMVP', 'SPMVP', 'HSMVP', nan], dtype=object)

In [22]:
df2 = df2.dropna(thresh=5, axis=0)

In [23]:
cont = pd.read_csv('./Data/cont.csv')

In [24]:
cont.참고 = cont['참고'].apply(lambda x: x[:-1])

In [25]:
cont = cont[cont.참고 != '']

In [26]:
cont['시즌'] = cont['시즌'].apply(lambda x: int(x[:-1]))

In [27]:
cont.head()

    이름    시즌    계약 참고
0  강동우  2010  FA계약  1
1  강민호  2014  FA계약  4
2  강민호  2018  FA계약  4
3  강봉규  2012  FA계약  2
4  고영민  2016  FA계약  2

In [168]:
df3 = pd.merge(df2, cont, on=['이름', '시즌'], how='outer')
df3

,ID,이름,시즌,팀,포지션,나이,G,타석,타수,득점,안타,타1,타2,타3,홈런,루타,타점,도루,도실,볼넷,사구,고4,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,wRC,twoBLUCK,threeBLUCK,ISO,BBK,ISOD,연봉,횟수,경험,데뷔,학력,계약_x,수상,MVP,계약_y,참고
0,0.0,테임즈,2014,NC,1B,29.0,125.0,514.0,443.0,95.0,152.0,79.0,30.0,6.0,37.0,305.0,121.0,11.0,2.0,58.0,7.0,5.0,99.0,6.0,0.0,6.0,0.343,0.422,0.688,1.111,0.464,168.3,0.097720,0.019544,0.345,0.079767,0.079,25000.0,1.0,0.0,2014.0,용병-용병대,['연도'],0,0,NaN,NaN
1,0.0,테임즈,2015,NC,1B,30.0,142.0,595.0,472.0,130.0,180.0,86.0,42.0,5.0,47.0,373.0,140.0,40.0,8.0,103.0,13.0,11.0,91.0,7.0,0.0,7.0,0.381,0.498,0.790,1.288,0.530,222.3,0.125749,0.014970,0.409,-0.020168,0.117,125000.0,2.0,1.0,2014.0,용병-용병대,['연도'],GG,1,NaN,NaN
2,0.0,테임즈,2016,NC,1B,31.0,123.0,529.0,436.0,118.0,140.0,67.0,30.0,3.0,40.0,296.0,121.0,13.0,4.0,74.0,12.0,6.0,103.0,2.0,0.0,7.0,0.321,0.427,0.679,1.106,0.463,170.5,0.102389,0.010239,0.358,0.054820,0.106,125000.0,3.0,2.0,2014.0,용병-용병대,['연도'],GG,0,NaN,NaN
3,1.0,이대호,2010,롯데,3B,29.0,127.0,552.0,478.0,99.0,174.0,117.0,13.0,0.0,44.0,319.0,133.0,0.0,2.0,61.0,10.0,6.0,77.0,15.0,0.0,3.0,0.364,0.444,0.667,1.111,0.482,192.4,0.036415,0.000000,0.303,0.028986,0.080,39000.0,1.0,0.0,2001.0,경남고,"['연도', '2001년', '2012년', '2017년']",GG,1,NaN,NaN
4,1.0,이대호,2011,롯데,1B,30.0,133.0,570.0,493.0,76.0,176.0,122.0,26.0,1.0,27.0,285.0,113.0,2.0,0.0,63.0,8.0,8.0,60.0,22.0,0.0,6.0,0.357,0.433,0.578,1.011,0.455,180.0,0.064039,0.002463,0.221,-0.005263,0.076,63000.0,2.0,1.0,2001.0,경남고,"['연도', '2001년', '2012년', '2017년']",GG,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,NaN,이지영,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FA계약,3
432,NaN,송승준,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FA계약,4
433,NaN,임창용,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FA계약,2
434,NaN,장원준,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FA계약,4
435,NaN,김승회,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FA계약,2

In [188]:
df3['용병'] = None

In [189]:
df3['용병'][df3['학력'] == '용병-용병대'] = 1
df3['용병'][df3['학력'] != '용병-용병대'] = 0
df3.용병.unique()

array([1, 0], dtype=object)

In [4]:
pd.read_csv('./datas/rank.csv', encoding='euc-kr')

    순위    팀    시즌
0    1   SK  2010
1    2   삼성  2010
2    3   두산  2010
3    4   롯데  2010
4    5  KIA  2010
..  ..  ...   ...
87   6   kt  2019
88   7  KIA  2019
89   8   삼성  2019
90   9   한화  2019
91  10   롯데  2019

[92 rows x 3 columns]

In [169]:
df3 = df3.dropna(thresh=5, axis=0)
df3.reset_index(drop=True)

,ID,이름,시즌,팀,포지션,나이,G,타석,타수,득점,안타,타1,타2,타3,홈런,루타,타점,도루,도실,볼넷,사구,고4,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,wRC,twoBLUCK,threeBLUCK,ISO,BBK,ISOD,연봉,횟수,경험,데뷔,학력,계약_x,수상,MVP,계약_y,참고
0,0.0,테임즈,2014,NC,1B,29.0,125.0,514.0,443.0,95.0,152.0,79.0,30.0,6.0,37.0,305.0,121.0,11.0,2.0,58.0,7.0,5.0,99.0,6.0,0.0,6.0,0.343,0.422,0.688,1.111,0.464,168.3,0.097720,0.019544,0.345,0.079767,0.079,25000.0,1.0,0.0,2014.0,용병-용병대,['연도'],0,0,NaN,NaN
1,0.0,테임즈,2015,NC,1B,30.0,142.0,595.0,472.0,130.0,180.0,86.0,42.0,5.0,47.0,373.0,140.0,40.0,8.0,103.0,13.0,11.0,91.0,7.0,0.0,7.0,0.381,0.498,0.790,1.288,0.530,222.3,0.125749,0.014970,0.409,-0.020168,0.117,125000.0,2.0,1.0,2014.0,용병-용병대,['연도'],GG,1,NaN,NaN
2,0.0,테임즈,2016,NC,1B,31.0,123.0,529.0,436.0,118.0,140.0,67.0,30.0,3.0,40.0,296.0,121.0,13.0,4.0,74.0,12.0,6.0,103.0,2.0,0.0,7.0,0.321,0.427,0.679,1.106,0.463,170.5,0.102389,0.010239,0.358,0.054820,0.106,125000.0,3.0,2.0,2014.0,용병-용병대,['연도'],GG,0,NaN,NaN
3,1.0,이대호,2010,롯데,3B,29.0,127.0,552.0,478.0,99.0,174.0,117.0,13.0,0.0,44.0,319.0,133.0,0.0,2.0,61.0,10.0,6.0,77.0,15.0,0.0,3.0,0.364,0.444,0.667,1.111,0.482,192.4,0.036415,0.000000,0.303,0.028986,0.080,39000.0,1.0,0.0,2001.0,경남고,"['연도', '2001년', '2012년', '2017년']",GG,1,NaN,NaN
4,1.0,이대호,2011,롯데,1B,30.0,133.0,570.0,493.0,76.0,176.0,122.0,26.0,1.0,27.0,285.0,113.0,2.0,0.0,63.0,8.0,8.0,60.0,22.0,0.0,6.0,0.357,0.433,0.578,1.011,0.455,180.0,0.064039,0.002463,0.221,-0.005263,0.076,63000.0,2.0,1.0,2001.0,경남고,"['연도', '2001년', '2012년', '2017년']",GG,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,234.0,조동화,2015,SK,CF,35.0,119.0,304.0,245.0,38.0,64.0,55.0,6.0,1.0,2.0,78.0,15.0,18.0,3.0,30.0,5.0,0.0,50.0,2.0,22.0,2.0,0.261,0.351,0.318,0.669,0.297,68.3,0.031088,0.005181,0.057,0.065789,0.090,30000.0,2.0,4.0,2001.0,공주고,"['연도', '2015년']",0,0,FA계약,4
372,234.0,조동화,2016,SK,RF,36.0,76.0,172.0,143.0,24.0,34.0,29.0,5.0,0.0,0.0,39.0,16.0,6.0,2.0,15.0,4.0,0.0,17.0,2.0,8.0,2.0,0.238,0.323,0.273,0.596,0.279,48.9,0.039683,0.000000,0.035,0.011628,0.085,30000.0,3.0,5.0,2001.0,공주고,"['연도', '2015년']",0,0,NaN,NaN
373,258.0,강귀태,2011,넥센,C,33.0,33.0,89.0,81.0,4.0,19.0,13.0,4.0,1.0,1.0,28.0,10.0,1.0,0.0,5.0,0.0,1.0,11.0,4.0,2.0,1.0,0.235,0.276,0.346,0.622,0.277,60.3,0.057971,0.014493,0.111,0.067416,0.041,10000.0,1.0,0.0,2002.0,인천동산고-동국대,"['연도', '1998년']",0,0,NaN,NaN
374,306.0,이영우,2010,한화,DH,38.0,12.0,21.0,21.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.095,0.095,0.095,0.191,0.090,-66.7,0.000000,0.000000,0.000,0.095238,0.000,13000.0,1.0,0.0,1996.0,선린인고-건국대,"['연도', '1996년', '2009년']",0,0,NaN,NaN
375,379.0,박기혁,2010,롯데,SS,30.0,48.0,166.0,153.0,10.0,33.0,30.0,3.0,0.0,0.0,36.0,13.0,2.0,0.0,6.0,1.0,0.0,18.0,5.0,5.0,1.0,0.216,0.248,0.235,0.484,0.225,22.8,0.022222,0.000000,0.019,0.072289,0.032,12000.0,1.0,0.0,2000.0,대구상원고,"['연도', '2000년', '2015년']",0,0,NaN,NaN

In [170]:
df3['참고'] = df3['참고'].fillna(0)
df3.head()

,ID,이름,시즌,팀,포지션,나이,G,타석,타수,득점,안타,타1,타2,타3,홈런,루타,타점,도루,도실,볼넷,사구,고4,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,wRC,twoBLUCK,threeBLUCK,ISO,BBK,ISOD,연봉,횟수,경험,데뷔,학력,계약_x,수상,MVP,계약_y,참고
0,0.0,테임즈,2014,NC,1B,29.0,125.0,514.0,443.0,95.0,152.0,79.0,30.0,6.0,37.0,305.0,121.0,11.0,2.0,58.0,7.0,5.0,99.0,6.0,0.0,6.0,0.343,0.422,0.688,1.111,0.464,168.3,0.097720,0.019544,0.345,0.079767,0.079,25000.0,1.0,0.0,2014.0,용병-용병대,['연도'],0,0,NaN,0
1,0.0,테임즈,2015,NC,1B,30.0,142.0,595.0,472.0,130.0,180.0,86.0,42.0,5.0,47.0,373.0,140.0,40.0,8.0,103.0,13.0,11.0,91.0,7.0,0.0,7.0,0.381,0.498,0.790,1.288,0.530,222.3,0.125749,0.014970,0.409,-0.020168,0.117,125000.0,2.0,1.0,2014.0,용병-용병대,['연도'],GG,1,NaN,0
2,0.0,테임즈,2016,NC,1B,31.0,123.0,529.0,436.0,118.0,140.0,67.0,30.0,3.0,40.0,296.0,121.0,13.0,4.0,74.0,12.0,6.0,103.0,2.0,0.0,7.0,0.321,0.427,0.679,1.106,0.463,170.5,0.102389,0.010239,0.358,0.054820,0.106,125000.0,3.0,2.0,2014.0,용병-용병대,['연도'],GG,0,NaN,0
3,1.0,이대호,2010,롯데,3B,29.0,127.0,552.0,478.0,99.0,174.0,117.0,13.0,0.0,44.0,319.0,133.0,0.0,2.0,61.0,10.0,6.0,77.0,15.0,0.0,3.0,0.364,0.444,0.667,1.111,0.482,192.4,0.036415,0.000000,0.303,0.028986,0.080,39000.0,1.0,0.0,2001.0,경남고,"['연도', '2001년', '2012년', '2017년']",GG,1,NaN,0
4,1.0,이대호,2011,롯데,1B,30.0,133.0,570.0,493.0,76.0,176.0,122.0,26.0,1.0,27.0,285.0,113.0,2.0,0.0,63.0,8.0,8.0,60.0,22.0,0.0,6.0,0.357,0.433,0.578,1.011,0.455,180.0,0.064039,0.002463,0.221,-0.005263,0.076,63000.0,2.0,1.0,2001.0,경남고,"['연도', '2001년', '2012년', '2017년']",GG,0,NaN,0

In [171]:
df3.참고 = df3.참고.astype(int)

In [176]:
for name in df3['이름'].unique():
    temp_df = df3[df3['이름'] == name]
    last = list(temp_df.index)[-1]
    idxs = list(temp_df[temp_df["계약_y"] == "FA계약"]["참고"].index)
    num = list(temp_df[temp_df["계약_y"] == "FA계약"]["참고"])
    idxs_ls = []
    for i in range(len(idxs)):
        for j in range(idxs[i] + 1, idxs[i] + num[i]):
            if j > last:
                break
            idxs_ls.append(j)

    df3['계약_y'].loc[idxs_ls] = '계약중'

In [181]:
df3[df3['이름'] == '김주찬']

,ID,이름,시즌,팀,포지션,나이,G,타석,타수,득점,안타,타1,타2,타3,홈런,루타,타점,도루,도실,볼넷,사구,고4,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,wRC,twoBLUCK,threeBLUCK,ISO,BBK,ISOD,연봉,횟수,경험,데뷔,학력,계약_x,수상,MVP,계약_y,참고
203,65.0,김주찬,2010,롯데,1B,30.0,118.0,535.0,485.0,89.0,134.0,103.0,18.0,4.0,9.0,187.0,40.0,65.0,19.0,31.0,5.0,1.0,65.0,5.0,11.0,3.0,0.276,0.324,0.386,0.710,0.320,85.4,0.043796,0.009732,0.110,0.063551,0.048,15000.0,1.0,0.0,2000.0,충암고,"['연도', '2000년', '2001년', '2013년', '2018년']",0,0,NaN,0
204,65.0,김주찬,2011,롯데,LF,31.0,86.0,371.0,321.0,58.0,100.0,79.0,12.0,3.0,6.0,136.0,40.0,25.0,10.0,27.0,7.0,0.0,38.0,4.0,12.0,4.0,0.312,0.373,0.424,0.797,0.361,117.3,0.043321,0.010830,0.112,0.029650,0.061,17000.0,2.0,1.0,2000.0,충암고,"['연도', '2000년', '2001년', '2013년', '2018년']",0,0,NaN,0
205,65.0,김주찬,2012,롯데,LF,32.0,118.0,488.0,435.0,62.0,128.0,93.0,27.0,3.0,5.0,176.0,39.0,32.0,13.0,30.0,7.0,1.0,48.0,7.0,11.0,5.0,0.294,0.346,0.405,0.751,0.344,113.7,0.070681,0.007853,0.111,0.036885,0.052,27000.0,3.0,2.0,2000.0,충암고,"['연도', '2000년', '2001년', '2013년', '2018년']",0,0,NaN,0
206,65.0,김주찬,2013,KIA,LF,33.0,47.0,195.0,168.0,24.0,51.0,38.0,9.0,4.0,0.0,68.0,28.0,23.0,3.0,15.0,4.0,1.0,18.0,4.0,7.0,1.0,0.304,0.372,0.405,0.777,0.352,106.8,0.060000,0.026667,0.101,0.015385,0.068,50000.0,4.0,3.0,2000.0,충암고,"['연도', '2000년', '2001년', '2013년', '2018년']",0,0,FA계약,4
207,65.0,김주찬,2014,KIA,LF,34.0,100.0,442.0,399.0,72.0,138.0,93.0,32.0,4.0,9.0,205.0,46.0,22.0,10.0,31.0,4.0,2.0,48.0,11.0,6.0,2.0,0.346,0.397,0.514,0.911,0.399,127.7,0.093567,0.011696,0.168,0.038462,0.051,50000.0,5.0,4.0,2000.0,충암고,"['연도', '2000년', '2001년', '2013년', '2018년']",0,0,계약중,0
208,65.0,김주찬,2015,KIA,DH,35.0,98.0,377.0,333.0,66.0,109.0,66.0,23.0,2.0,18.0,190.0,62.0,8.0,2.0,23.0,12.0,3.0,58.0,10.0,1.0,8.0,0.327,0.383,0.571,0.954,0.408,137.3,0.089494,0.007782,0.244,0.092838,0.056,50000.0,6.0,5.0,2000.0,충암고,"['연도', '2000년', '2001년', '2013년', '2018년']",0,0,계약중,0
209,65.0,김주찬,2016,KIA,LF,36.0,130.0,555.0,511.0,97.0,177.0,114.0,37.0,3.0,23.0,289.0,101.0,9.0,7.0,30.0,7.0,1.0,68.0,13.0,1.0,6.0,0.346,0.386,0.566,0.952,0.415,135.8,0.088095,0.007143,0.220,0.068468,0.040,50000.0,7.0,6.0,2000.0,충암고,"['연도', '2000년', '2001년', '2013년', '2018년']",GG,0,계약중,0
210,65.0,김주찬,2017,KIA,1B,37.0,122.0,478.0,440.0,78.0,136.0,83.0,39.0,2.0,12.0,215.0,70.0,9.0,2.0,31.0,4.0,0.0,59.0,17.0,2.0,1.0,0.309,0.359,0.489,0.848,0.372,116.0,0.105691,0.005420,0.180,0.058577,0.050,60000.0,8.0,7.0,2000.0,충암고,"['연도', '2000년', '2001년', '2013년', '2018년']",0,0,NaN,0
211,65.0,김주찬,2018,KIA,1B,38.0,121.0,471.0,429.0,71.0,146.0,105.0,23.0,0.0,18.0,223.0,93.0,8.0,1.0,23.0,7.0,5.0,57.0,15.0,2.0,10.0,0.340,0.375,0.520,0.895,0.380,122.1,0.064972,0.000000,0.180,0.072187,0.035,40000.0,9.0,8.0,2000.0,충암고,"['연도', '2000년', '2001년', '2013년', '2018년']",NaN,0,FA계약,3

In [183]:
df3.to_csv('test_0407.csv', index=False)

In [10]:
#data = data[data['학력']!=0]

In [78]:
d['횟수'] = 1
for id_x in d.ID.unique():
    d["횟수"].loc[d[d["ID"] == id_x].reset_index()["index"]] = list(
        d[d["ID"] == id_x].reset_index().reset_index()["level_0"] + 1)

In [79]:
d['횟수'].loc[d[d['ID'] == 0].reset_index()['index']] = [1, 2, 3]
d

,ID,이름,생일,팀,시즌,포지션,나이,G,타석,타수,득점,안타,타2,타3,홈런,루타,타점,도루,도실,볼넷,사구,고4,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,wRC,WAR,구단,연봉,twoBLUCK,threeBLUCK,ISO,ISOD,BBK,BABIP,K,AVG,횟수
0,0,테임즈,1986-11-10,N,2015,1B,30,142.0,595.0,472.0,130.0,180.0,42.0,5.0,47.0,373.0,140.0,40.0,8.0,103.0,13.0,11.0,91.0,7.0,0.0,7.0,0.381,0.498,0.790,1.288,0.530,222.3,10.71,NC,"125,000",0.125749,0.014970,0.000687,0.117,-0.020168,0.406728,0.155822,0.381356,1
1,1,이대호,1982-06-21,롯,2010,3B,29,127.0,552.0,478.0,99.0,174.0,13.0,0.0,44.0,319.0,133.0,0.0,2.0,61.0,10.0,6.0,77.0,15.0,0.0,3.0,0.364,0.444,0.667,1.111,0.482,192.4,8.82,롯데,"39,000",0.036415,0.000000,0.000549,0.080,0.028986,0.367232,0.141026,0.364017,1
2,2,강정호,1987-04-05,넥,2012,SS,26,124.0,519.0,436.0,77.0,137.0,32.0,0.0,25.0,244.0,82.0,21.0,5.0,71.0,6.0,8.0,78.0,16.0,1.0,5.0,0.314,0.413,0.560,0.973,0.438,179.8,8.23,넥센,"18,000",0.096096,0.000000,0.000474,0.099,0.013487,0.341463,0.152642,0.314220,1
3,2,강정호,1987-04-05,넥,2014,SS,28,117.0,501.0,418.0,103.0,149.0,36.0,2.0,40.0,309.0,117.0,3.0,3.0,68.0,13.0,2.0,106.0,8.0,0.0,2.0,0.356,0.459,0.739,1.198,0.500,185.6,8.05,넥센,"42,000",0.132353,0.007353,0.000764,0.103,0.075848,0.403704,0.212425,0.356459,2
4,2,강정호,1987-04-05,넥,2014,SS,28,117.0,501.0,418.0,103.0,149.0,36.0,2.0,40.0,309.0,117.0,3.0,3.0,68.0,13.0,2.0,106.0,8.0,0.0,2.0,0.356,0.459,0.739,1.198,0.500,185.6,8.05,0,"42,000",0.132353,0.007353,0.000764,0.103,0.075848,0.403704,0.212425,0.356459,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,170,김동엽,1990-07-24,삼,2019,DH,30,60.0,211.0,195.0,15.0,42.0,4.0,1.0,6.0,66.0,25.0,2.0,1.0,12.0,2.0,0.0,47.0,2.0,0.0,2.0,0.215,0.265,0.338,0.604,0.279,60.7,-0.85,삼성,"18,500",0.028169,0.007042,0.000583,0.050,0.165877,0.257143,0.222749,0.215385,2
826,186,지석훈,1984-03-17,N,2016,SS,33,141.0,394.0,351.0,34.0,77.0,14.0,0.0,9.0,118.0,54.0,0.0,2.0,22.0,9.0,0.0,91.0,9.0,6.0,6.0,0.219,0.278,0.336,0.615,0.277,48.6,-0.89,NC,"14,000",0.055777,0.000000,0.000297,0.059,0.175127,0.277551,0.230964,0.219373,4
827,232,박재홍,1973-09-07,S,2011,DH,39,74.0,187.0,161.0,11.0,30.0,8.0,0.0,1.0,41.0,12.0,4.0,1.0,15.0,0.0,0.0,36.0,2.0,7.0,4.0,0.186,0.250,0.255,0.505,0.234,30.3,-1.15,SK,"40,000",0.064516,0.000000,0.000369,0.064,0.112299,0.241667,0.192513,0.186335,3
828,193,박종윤,1982-04-11,롯,2015,1B,34,98.0,326.0,314.0,29.0,80.0,11.0,3.0,4.0,109.0,28.0,0.0,1.0,7.0,3.0,2.0,38.0,11.0,1.0,1.0,0.255,0.277,0.347,0.624,0.279,54.0,-1.23,롯데,"20,000",0.040441,0.011029,0.000282,0.022,0.095092,0.280443,0.117284,0.254777,4
829,18,조인성,1975-05-25,한,2016,C,42,76.0,146.0,137.0,10.0,23.0,2.0,0.0,3.0,34.0,7.0,0.0,0.0,2.0,1.0,0.0,38.0,2.0,6.0,0.0,0.168,0.186,0.248,0.434,0.188,-12.4,-1.36,한화,"40,000",0.020833,0.000000,0.000548,0.018,0.246575,0.208333,0.260274,0.167883,10